/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  /* .hero {
    max-width: 50rem;
  } */

  .primary-heading {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1168px (Smaller desktops) */

@media (max-width: 73em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .service-description {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .service-grid {
    column-gap: 1.5rem;
    row-gap: 3rem;
  }
  .main-nav-list {
    gap: 1.8rem;
  }

  .secondary-heading {
    font-size: 4.4rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
  .service-section .secondary-heading::before,
  .gallery-section .secondary-heading::before,
  .testimonial-section .secondary-heading::before,
  .price-section .secondary-heading::before,
  .contact-section .secondary-heading::before {
    font-size: 7.4rem;
  }
  .testimonials {
    column-gap: 3rem;
  }
}

/**************************/
/* BELOW 983px (Smaller desktops) */

@media (max-width: 62em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero{
    justify-content: start;
    margin: 0 10rem;
  }
  .grid {
    column-gap: 3rem;
    row-gap: 3rem;
  }
  .card {
    margin: 1.5rem;
  }
  .price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .price-grid {
    background-image: url(../img/powder2.png);
    background-size: contain;
    background-position: right;
  }
  .price-grid img {
    display: none;
  }
  .price-detail {
    background-color: #ece2e0;
    /* color: #ffffff; */
  }

  .grid-col-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-us {
    justify-content: center;
  }
  .contact-form button {
    grid-column: 1/-1;
    justify-self: center;
    width: 25%;
  }
  .c-form {
    grid-column: 1/-1;
    align-items: center;
  }
  .textbox {
    grid-column: 1/-1;
    align-items: center;
    order: -1;
  }
  .contact-info {
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    justify-content: center;
  }


  
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: #b7948e9f;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 785px (Smaller desktops) */

@media (max-width: 49em) {
  .hero{
    justify-content: start;
    margin: 0 9rem;
  }
 /* .hero-text{
  max-width: 100%;
 } */
  .service-grid,
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    /* 1140px */
    max-width: 86rem;
  }

  .card.no-shadow:last-child {
    display: none;
  }
  .flex--footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .logo-col {
    grid-column: 1/-1;
    order: 1;
  }
  .nav-col,
  .address-col {
    justify-self: center;
  }
}

/**************************/
/* BELOW 580px (Phone) */
@media (max-width: 36em) {
  .hero{
    justify-content: start;
    margin: 0 6rem;
  }
 .hero-text{
  max-width: 100%;
 }
 .primary-heading {
  margin-bottom: 0rem;
}
  .grid {
    row-gap: 4.8rem;
  }
  .grid-col-2,
  .grid-col-3,
  .grid-col-4 {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.5rem 1.6rem;
  }
  /* .hero-section {
  }
  .hero{
    justify-content: start;
    margin: 2rem;
  } */
  .logo {
    height: 12rem;
  }
  .service-grid,
  .testimonials,
  .price-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .container {
    max-width: 60rem;
  }
  .container-2 {
    /* 1140px */
    max-width: 48rem;
  }

  .contact-form,
  .appointment-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 100%;
  }
}
/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
